@using Shop.Domain.Models.Orders
@model Shop.Domain.Models.Orders.Order

@{
    ViewData["Title"] = "سبد خرید";


}

<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">سبد خرید<span>فروشگاه</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Product" asp-action="Products">فروشگاه</a></li>
            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                    {
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>محصول</th>
                                    <th>قیمت</th>
                                    <th>تعداد</th>
                                    <th>مجموع</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var order in Model.OrderDetails)
                                {
                                    <tr id="ajax-url-item-@order.Id">
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@order.Product.Id">
                                                        <img src="@(PathExtensions.ProductThumb+order.Product.ProductImageName)" alt="@order.Product.Name">
                                                    </a>
                                                </figure>

                                                <h3 class="product-title">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@order.Product.Id">@order.Product.Name</a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                        <td class="price-col">@order.Price.ToString("#,0 تومان")</td>
                                        <td class="quantity-col">
                                            <div class="cart-product-quantity">
                                                @order.Count
                                                @*<input type="number" class="form-control" value="1" min="1" max="10"step="1" data-decimals="0" required>*@
                                            </div><!-- End .cart-product-quantity -->
                                        </td>

                                        @{
                                            var price = order.Price * order.Count;
                                            var productFinallyPrice = price.ToString("#,0 تومان");
                                        }

                                        <td class="total-col">@(productFinallyPrice)</td>
                                        <td class="remove-col">
                                            <a asp-area="User" asp-controller="Account" asp-action="DeleteOrderDetail" asp-route-orderDetailId="@order.Id" class="btn-remove" ajax-url-button="@order.Id">
                                                <i class="icon-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    <!-- End .table table-wishlist -->

                    <div class="cart-bottom">
                        <div class="cart-discount">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" required placeholder="کد تخفیف">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary-2" type="submit">
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- End .input-group -->
                            </form>
                        </div><!-- End .cart-discount -->

                        <a href="#" class="btn btn-outline-dark-2">
                            <span>به روز رسانی سبد خرید</span><i class="icon-refresh"></i>
                        </a>
                    </div><!-- End .cart-bottom -->
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                    <form asp-area="User" asp-controller="Account" asp-action="UserBasket" method="post">
                        <input type="hidden" name="OrderId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@Model.UserId" />
                        <div class="summary summary-cart">
                            <div id="main-payments">
                                <partial name="_OrderPrice" model="@Model" />
                            </div>


                        </div>
                    </form>
                    <!-- End .summary -->


                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div><!-- End .page-content -->
